<div class="container">
  <%= link_to lists_path, :class => "btn btn-dark rounded" do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
  <div class="container bg-light m-2 p-2">
    <h1>New list</h1>
      <%= simple_form_for [@list] do |f| %>
        <%= f.error_notification %>
        <%= f.input :name %>
        <%= f.button :submit, class: 'btn btn-dark' %>
      <% end %>
  </div>
</div>
